<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导出生成excel</title>
    <script src="./xlsx.full.min.js"></script>
    <script src="./FileSaver.min.js"></script>
</head>

<body>

<form id="documentForm"  >
<button onclick="login()"></button>
</form>

<a th:text="${json1}"></a>


<script th:inline="javascript" >
    function login() {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/excel/getCh" ,//url
            data: $('#documentForm').serialize(),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.resultCode == 200) {
                    alert("SUCCESS");
                }
                ;
            },
            error : function() {
                alert("异常！");
            }
        });
    }



</script>
</body>

</html>